<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="header">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <br>
            <div>
                <a href="/" class="btn btn-primary">Главная страница</a>
                <a href="/user/all" class="btn btn-primary">список участников</a>
                <a href="/user/registration" class="btn btn-primary">хочу участвовать</a>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
</body>
</html>